<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <a>THÔNG TIN KHOÁ HỌC:</a>
            <ul>
                <li>Trình độ: {{course.level}}</li>
                <li>Sự kết nối: {{course.connect}}</li>
            </ul>
        </div>

        <div class="y col-lg-9">
            <h2 class="p">{{course.name}}</h2>
            
            <iframe class="o" width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            
        </div>
        <div class="z">
            <p>{{course.description}}</p>
        </div>             
    </div>
</div>